.button {
  padding: 8px 16px;
  color: var(--primary);
  border: 2px solid var(--primary);
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.9;
  min-width: 120px;

  &:hover {
    opacity: 1;
    transform: scale(1.03);
  }
}

.button:disabled,
.button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.dark {
  background: var(--black);
  color: var(--white);
  border: 2px solid var(--orange);
}
