body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: orange;
  border: 2px solid black;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: black;
}

:root {
  --black: #3b434e;
  --gray-light: #ebebeb;
  --gray: #a4a4a4;
  --gray-dark: #6c7077;
  --white: white;
  --primary: #00ced1;
  --primary-hover: #6344df;
  --red-light: #fea291;
  --red: #DD0000;
  --green: #007b48;
  --green-light: #c8f8e4;
  --font-family: "Noto Sans KR", sans-serif;
}
